
/* make scrolling smooth */
html{
    scroll-behavior:smooth;
}


body{
    box-sizing: border-box;
    padding:10px;
    margin: 0px;

}
main{
    padding: 1vw;   
}




/* navbar */
nav ul {
    padding:0px;
}
nav li{
    list-style: none;
    /*border:2px solid #94530A;*/
    padding: 5px;
    margin: 5px;
    display: inline-block;
    font-size:1.2em;
}
a:link{
    color:black;
}
  a:hover{
      color: #FFE378;
  }
  a:visited{
      color:#5CFFE6;
  }
 



/* logo */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 7vw;
    width: 7vw; 
    margin-bottom:2rem;
    margin-left: .25rem;
    margin-right: 1rem;
    background-color: #FFE378;
}


/*  
 style all a tags in header 
 and then on hover
*/
a:link{
    color:black;
}
  a:hover{
      color:#FFE378;
  }
  a:visited{
      color: #5CFFE6;
  }
 
/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

/*@media screen and (min-width:80px)
{
    .navbar{
        display:grid;
        flex-direction: row;
        
    }
}


/* Professor's Code */
#nav_toggle #nav_open {
    display:none;
}
#nav_checkbox:checked ~ #nav_toggle #nav_open {
    display:block;
}

#nav_toggle #nav_closed {
    display:block;
}
#nav_checkbox:checked ~ #nav_toggle #nav_closed {
    display:none;
}

#nav_checkbox {
    display:none;
}

.navbar-links {
    display:none;
}
#nav_checkbox:checked ~ .navbar-links {
    display:block;
}
.icon{
    max-width: 2rem;
    max-height: 2rem;
    background-image: linear-gradient(#FFE378,grey,#94530A);
    padding: 10px;

    
}
.open{
    max-width: 2rem;
    max-height: 2rem;
    background-image: linear-gradient(#FFE378,grey,#94530A);
    padding: 10px;
}

#nav_toggle { /*Professor's code*/
   
    position:absolute;
    top:20px;
    right:40px;
}
@media screen and (min-width: 960px) {

    #nav_toggle {
        display:none;
    }
    .navbar-links {
        display:block;
    }

}