body{
    background-color: #FFE378;
}
/* #5CFFE6*/
header{
    background-color: #3DB1E0;
    text-align: center;
}
h1{
    font-family: "Bungee Inline";
    color: black;
}

h2{
    
    color: #94530A;
   font-family: "Oleo Script";
  font-size: 50px;
    text-align:left;
}

p{
    font-family: "Oleo Script";
}

img{
    background-color: #5CFFE6;
    border:ridge #94530A;
    box-shadow: 2px 3px 10px #94530A;
}
#hobbies
{
    display: flex;
    flex-direction: column;
    align-items: center;


}
#hobbies ul li {

    border: 5px groove #5CFFE6;
    padding: 30px;
    max-width: 100px;
    margin: 10px;
    box-shadow: 20px 3px 10px #FFE378 ;

}

#hero, footer{
    text-align: center;
    border: 5px solid #5CFFE6;
    padding: 10px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 10px 10px 10px;
    
    


}

#hero img{
    text-align: center;
    width: 200px;
    
}

#bio{
    text-align: center;
}

#gallery{
    text-align: center;
}
#gallery img{
    width:50%;
     max-width: 100%;
}
#gallery figcaption{
    color: #94530A;
    font-size: 20px;
    width: 300px;
    height: 15px;
    
    text-align: right;
    border:  #94530A solid;
    box-shadow: 15px 3px 5px black;
    
    padding-bottom:5px;
    
    margin: 3px 5px 2px;

    
   
    
}


/* Articel*/
article p :nth-child(odd)::first-letter{
    
    padding: 1rem;
    padding-top:0rem;
    max-width: 600px;
    text-align: justify;
}
/* drop caps*/
article p::first-letter
{
    color: #94530A;
    font-size: 200%;
    border: 5px double black;
    padding-left: .6ex;
    padding-right: .6ex;
    float: left;
    margin-right: .5ex;
    margin-bottom: 1ex;
    clear:both;
    margin: 10px;
    
    background-color: blanchedalmond;
    background-image: radial-gradient(cyan,#94530A);
    box-shadow: 6px 4px 5px black;}

    
   
    /* tablet state*/
    @media screen and (min-width: 960px) {
        figure{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
    figcaption{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    }
        
    
     
    

