body{
    background-color: #FFE378;
    
    background-image: linear-gradient( #FFE378,#3DB1E0,#5CFFE6, grey);
}

header{
    border: solid;
    text-align: center;
    background-image: url(/img/cherryblossoms.png);
    background-size: auto;
}
header img {
    margin-top:2em;
}
h1{
    font-family: "Bungee Inline";
    color: black;
}

h2{
    
    color: #94530A;
   font-family: "Oleo Script";
  font-size: 50px;
    text-align:center;
    text-decoration: underline;
}

p{
    font-family: "Oleo Script";
}

img{
    background-color: #5CFFE6;
    border:ridge #94530A;
    box-shadow: 2px 3px 10px #94530A;
    
}
#hobbies
{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
#hobbies ul {
    padding:0px;
}
#hobbies ul li {
    list-style: none;
    margin:0px;
    border: 5px solid #5CFFE6;
    padding: 30px;
    max-width: 100px;
    margin-bottom: 30px;
    background-image: url(/img/sky.jpg);
    background-size: auto;
    background-position: center;
    box-shadow: 5px 2px 10px #94530A;
            transition-duration: 2s;

}
#hobbies ul li:hover {
    background-color: #FFE378;
    transition-duration:2s;
    color: #94530A;
    transform: scale(1.5);
}



#hero, footer{
    text-align: center;
    border: 10px double #FFE378;
    padding: 10px;
    border-top-left-radius: 90px;
    border-bottom-right-radius: 90px;
    box-shadow: 5px 2px 5px #94530A;
    
    


}

#hero img{
    text-align: center;
    width: 200px;
    
}

#bio{
    text-align: center;
}

#gallery{
    text-align: center;
}
#gallery img{
    width:450px;
    max-width: 100%;

    
}

   

#gallery figure{
    margin:0px;
    margin-bottom: 95px;
    margin-top: 95px;
    display: inline-block;
}


#gallery figcaption{
    color: #94530A;
    font-size: 20px;
    max-width:100%;
    text-align: center;
    border:  black 5px double ;
    box-shadow: 5px 3px 5px #94530A;
    padding-top: 5px;
    padding-bottom:5px;
    margin: 3px 5px 2px;
  

    
}


/* Articel*/
article p :nth-child(odd)::first-letter{
    
    padding: 1rem;
    padding-top:0rem;
    max-width: 600px;
    text-align: justify;
}
/* drop caps*/
article p::first-letter
{
    color:black;
    font-size: 200%;
    border: 5px double black;
    padding-left: 3px;
    padding-right: 3px;
    float: left;
    margin-right: 3px;
    margin-bottom: 1ex;
    clear: both;
    margin: 10px;
    
    background-color: blanchedalmond;
    background-image: radial-gradient( #94530A,#5CFFE6,#FFE378);
    box-shadow: 6px 4px 5px black;
}

    
   
    /* tablet state*/
    @media screen and (min-width: 960px) {
        #gallery figure{
            display:grid;
            grid-template-columns: 1fr 2fr;
        }
       
        #gallery figcaption{
            display:flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            margin-left: 1rem;
        }
        #lit{
            max-width: 100%;
            columns: 40rem;
        }
    }

#lit {
    color: #94530A;
    
}


#video {
    text-align: center;
}
#video iframe {
    max-width:100%;
}

#contact {
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}
#contact label {
    display:inline;
    
}
#contact input[type="text"],
#contact input[type="tel"],
#contact input[type="email"] {
    width:100%;
}

#contact fieldset{
    
    color:#5CFFE6;
    
}

#contact ul {
    list-style: none;
}

#contact legend{
    text-align: center;
}

@media screen and (min-width:100em) {
    #gallery {
        padding:0px;
        margin:0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #gallery hr {
        display: none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery figure {
        display:block;
    }
    #gallery figcaption {
        width:90%;
        margin:auto;
    }
}
#flower img{
    height: 10em;
    background-color: #FFE378;
    animation-name: flower;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}
#flower{
    text-align: center;
}
@keyframes flower{
    from{background-color: #FFE378;}
    to {background-color: #94530A;}

    
}

#contact input, #contact textarea, #contact select{
    margin-bottom: 1em;
    
}
#contact textarea{
    display: block;
    width:100%;
}

#flower img{
    align-items: center;
}

#flower figcaption{
 margin-top: 5px;
}
    
     
    

